
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	 <ui:composition  template="/template.xhtml">

   <ui:define name="conteudo">
      <div align="center">
		<form>
			<div>Nome: Arthur Malmann Becker</div>
			<div>Email: arthmalbeck@gmail.com</div>
		</form>
		<form>
			<div>Nome: Lucas Abner Leal Silva</div>
			<div>Email: lucasabner98@outlook.com</div>
		</form>
		<form>
			<div>Nome: Lucas Augusto Guterres Garais</div>
			<div>Email lucasgarais@hotmail.com</div>
		</form>
		<form>
			<div>Nome: Wagner Inácio de Oliveira</div>
			<div>Email: wagner.inacio16@outlook.com</div>
		</form>
		<form action="/inicial">
			<button type="submit" style="width:170;height:40">Voltar</button>
		</form>
	</div>
    </ui:define>
    
  </ui:composition>

</html>